.idea
.git
bin
**/[Bb]in/
**/[Oo]bj/
**/packages/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider
.idea/
*.sln.iml
./Agenda.sln.DotSettings.user
